<main class="invite-main">
  <h3>情侣邀请</h3>
  <div id="message-body">
    <img [src]="api.IMAGE_PREFIX+inviteMessage.profileImg"/>

    <p>昵称：{{inviteMessage.nickname}}</p>
    <p>
      红果号：{{inviteMessage.inviteId}}
    </p>

  </div>
  <div id="invite-Message-opreation">
    <button md-dialog-close  #close style="display: none"></button>
    <button md-raised-button color="accent" (click)="agreeInvite(close)">同意</button>
    <button md-raised-button (click)="disagreeInvite(close)">拒绝</button>
  </div>
</main>

