<main class="circle-center-main">
    <div class="white-box select-circle">
      <p class="circle-label">圈子分类</p>
      <div class="circle-wrapper">

        <span class="circle-art-count">123</span>
        <img class="circle-img" src="../../../../assets/img/love.png"/>
        <p class="circle-name">谈情不说爱</p>
      </div>
      <div class="circle-wrapper">
        <img class="circle-img" src="../../../../assets/img/biaobai.png"/>
        <p class="circle-name">表白的信箱</p>
      </div>
      <div class="circle-wrapper">

        <img class="circle-img" src="../../../../assets/img/jiehun.png"/>
        <p class="circle-name">我们结婚吧</p>
      </div>
      <div class="circle-wrapper">

        <img class="circle-img" src="../../../../assets/img/shoushang.png"/>
        <p class="circle-name">情伤治愈系</p>
      </div>
      <div class="circle-wrapper">
        <span class="circle-art-count">123</span>
        <img class="circle-img" src="../../../../assets/img/gift.png"/>
        <p class="circle-name">送礼小助手</p>
      </div>
      <div class="circle-wrapper">
        <span class="circle-art-count">123</span>
        <img class="circle-img" src="../../../../assets/img/hunhou.png"/>
        <p class="circle-name">婚后生活圈</p>
      </div>
      <div class="circle-wrapper">

        <img class="circle-img" src="../../../../assets/img/baodian.png"/>
        <p class="circle-name">恋爱宝典篇</p>
      </div>

    </div>
    <div class="hot-art white-box">
        <p class="circle-label hot-art-label">热门帖子
          <md-slide-toggle class="circle-art-sort-type">
             <span>显示热门帖子</span>
          </md-slide-toggle>
        </p>
      <div class="circle-art-catalog-wrapper">
        <app-circle-art-catalog></app-circle-art-catalog>
      </div>
      <div class="circle-art-catalog-wrapper">
        <app-circle-art-catalog></app-circle-art-catalog>
      </div>
      <div class="circle-art-catalog-wrapper">
        <app-circle-art-catalog></app-circle-art-catalog>
      </div>
      <div class="circle-art-catalog-wrapper">
        <app-circle-art-catalog></app-circle-art-catalog>
      </div>

    </div>
</main>
