/*主体*/
.circle-center-main{
  width: 800px;
  margin: auto;
}
/*选择圈子的div*/
.select-circle{
  padding: 10px;
}
/*圈子分类标签*/
.circle-label{
  border-left: solid green;
  padding: 2px;
  padding-left: 5px;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
}
/*包裹圈子的div*/
.circle-wrapper{
  display: inline-block;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  position: relative;
  border-bottom:solid 2px rgba(0,0,0,0);
  cursor: pointer;
}
.circle-wrapper:hover{
  border-bottom: solid 2px orange;
}
.circle-wrapper:hover .circle-img{
  animation: circle-img-hover 0.3s forwards;
}
@keyframes circle-img-hover {
  0%{transform: scale(1,1)}
  100%{transform: scale(1.2,1.2)}
}
.circle-img-wrapper{
  width: 50px;
  height: 50px;
}
/*圈子动态计数*/
.circle-art-count{
  position: absolute;
  top: -5px;
  right: -5px;
  background: rgb(190,190,190);
  height: 25px;
  width: 25px;
  border-radius: 12px;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
}
/*圈子图片*/
.circle-img{
  width: 50px;
  height: 50px;
}


/*圈子名称*/
.circle-name{
  color: rgb(100,100,100);
  font-size: 14px;

}
/*热门帖子*/
.hot-art{
  margin-top: 20px;
}
/*热门帖子标签*/
.hot-art-label{
  border-color: red;
  margin: 10px;
  padding-bottom: 5px;
  border-bottom: dashed 1px rgb(223,223,223);
}
/*显示热门帖子toggle*/
.circle-art-sort-type{
  float: right;
}
.circle-art-sort-type span{
  font-size: 12px;
}
.circle-art-catalog-wrapper{
  padding: 10px;
  border-bottom: dashed 1px rgb(223,223,223);
}
