<main class="circle-center-main">
    <div class="white-box select-circle">
      <p class="circle-label">圈子分类</p>
      <div *ngFor="let circle of circleStaticData;let i=index;" class="circle-wrapper" routerLink="circle/{{i}}">
        <span class="circle-art-count">123</span>
        <img class="circle-img" [src]="circle.img"/>
        <p class="circle-name">{{circle.name}}</p>
      </div>
    </div>
    <div class="hot-art white-box">
      <p class="circle-label hot-art-label">热门帖子
        <md-slide-toggle [checked]="selectCondition.sortBy=='hot'" (change)="toggleSortBy($event)" class="circle-art-sort-type">
          <span>显示热门帖子</span>
        </md-slide-toggle>
      </p>
      <div class="circle-art-catalog-wrapper" *ngFor="let showPost of posts">
        <app-circle-art-catalog [showPost]="showPost"></app-circle-art-catalog>
      </div>

      <md-paginator (page)="changePage($event)"  [pageSizeOptions]="pageSizeOptions"
                    [length]="totalElement" [pageSize]="selectCondition.pageSize"></md-paginator>
    </div>
</main>
