/*评论底部*/
.discussion-bottom-operation{
  background: rgb(242,242,245);
  padding-bottom: 10px;
  height: 40px;
}
/*显示更多评论按钮*/
.show-more-discussion-btn{
  margin: auto;
  width: 30%;
  display: block;
  background: rgb(34,170,210);
}

/*关闭评论*/
.discussion-bottom-operation .close-discussion{
  float: right;
  text-decoration: underline;
}

