/*所有评论*/
.all-discussion{
  padding: 20px;
}
/*我的头像*/
.my-profile-img{
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}

/**
写评论的总体div
 */
.write-discussion{
  border-bottom: 1px rgb(223,223,223) solid;
  position: relative;
}
/*编辑器div*/
.discussion-editor{
  display: inline-block;
  width: 470px;
  font-size: 14px;
}
/*编辑器盒子样式*/
.editor-box{
  border-top: 2px solid rgb(255,129,64);
}
/*发表评论按钮*/
.send-discussion-btn{
  display: block!important;
  width:60px;
  height: 40px;
  min-width: 55px;
  background: rgb(255,129,64);
  float: right;
}
/*切换表情按钮*/
.toggle-face-btn{
  margin-left: 40px;
  margin-bottom: 10px;
  position: relative;
  top: -10px;
}
/*包裹表情和按钮的div*/
.all-face-wrapper{
  position: relative;
  height: 40px;
}
/*包裹表情的div*/
.face-wrapper{
  background: white;
  position: absolute;
  border: solid 1px rgb(223,223,223);
  box-shadow: 0 3px 5px rgb(203,203,203);
  padding-left: 10px;
  top:30px;
  left: 45px;
  z-index: 12;
  width: 300px;
}

/*显示所有评论的div*/
.show-all-discussion{

}
/*显示评论的条件*/
.show-discussion-by{
  margin-top: 10px;
}
/*每一个条件*/
.show-discussion-by span{
  font-size: 14px;
}
/*第一个条件*/
.show-discussion-by span:first-child{
  border-right: 1px solid rgb(150,150,150);
  padding-right: 8px;
}
.show-discussion-by span:hover{
  color: rgb(255,129,64);
}
/*激活的条件*/
.active-discussion-by{
  color: black;
  font-weight: bold;
}
/*m每一个评论*/
.discussion{
  margin-top: 10px;
  border-bottom: solid 1px rgb(233,233,233);
  padding-bottom: 10px;
  overflow: hidden;
}
/*父级评论*/
.parent-discussion{

}
/*评论人头像*/
.discussion-profile{
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;

}
/*评论体,评论右边部分*/
.discussion-content{
 float: right;
  width: 560px;
}
/*父级评论人姓名*/
.parent-discussion-nickname{
  font-size: 14px;
  color:rgb(255,129,64);
  font-weight: bold;
}
/*评论内容*/
.discussion-text{
  color: rgb(50,50,50);
  font-size: 14px;
}
.discussion-text p{
  color: red;
}
/*评论相关，时间和操作*/
.discussion-info{
  font-size: 13px;
  margin-top: 5px;
  height: 20px;

}
/*评论时间*/
.discussion-time{
  color: rgb(100,100,100);
}
/*评论操作*/
.discussion-operation{
  float: right;

}
.discussion-operation span{
  margin-right: 10px;
}
/*操作按钮*/
.each-operation-btn{
  height: 20px;
  line-height: 0px;
  margin-right: 10px;
}
.each-operation-btn span{
  font-size: 13px;
  color: rgb(100,100,100);
  margin-left: 3px;
}
.each-operation-btn i{
  font-size: 18px;
  color: rgb(150,150,150);
}
/*所有的子级评论*/
.all-sub-discussion{
  padding: 10px;
  padding-top: 0;
  background: rgb(234,234,236);

}
/*每个子级评论*/
.sub-discussion{
  margin-top: 5px;
}
/*子级评论人*/
.sub-discussion-nickname{
  font-size: 14px;
  color:rgb(255,129,64);

}
/*显示更多评论按钮*/
.show-more-discussion-btn{
  margin: auto;
  margin-top: 20px;
  width: 30%;
  display: block;
  background: rgb(34,170,210);
}
