<!--所有评论开始-->
<div class="all-discussion" [@flyXInOutFromTop]>
  <!--写评论-->
  <div class="write-discussion">
    <div [ngBusy]="{busy:[discussionSubscribe],message:'处理中,请稍候'}"></div>
    <img *ngIf="artArgs.artType!='相片'"  class="my-profile-img" [src]="api.IMAGE_PREFIX+homeService.homeInfo.profileImg"/>
    <div #discussionEditor [ngClass]="{'photo-discussion-editor':artArgs.artType=='相片'}"  class="discussion-editor" [froalaEditor]="editorOptions" [(froalaModel)]="sendDiscussion.parentDiscussion.content"></div>
    <button class="send-discussion-btn" md-raised-button color="primary" (click)="insertDiscussion()">评论</button>
    <div class="all-face-wrapper" *ngIf="artArgs.artType!='相片'">
      <button class="toggle-face-btn"  md-icon-button (click)="toggleFace()">
        <i  class="material-icons face-ico">sentiment_very_satisfied</i>
      </button>
      <div class="face-wrapper" *ngIf="faceOpened" [@flyXInOutFromTop]>
        <app-face (faceSelected)="appendFace(discussionEditor,$event)" (faceOpened)="closeFace($event)"></app-face>
      </div>
    </div>
    <!--清除浮动-->
    <div style="clear: both"></div>
  </div>
  <!--显示评论-->
  <div class="show-all-discussion" *ngIf="artArgs.discussionCount>0">
    <div class="show-discussion-by">
      <span (click)="sortDiscussionBy('subDiscussionsLength')" [ngClass]="{'active-discussion-by':selectDiscussion.sortBy=='subDiscussionsLength'}">按热度</span>
      <hr class="sortByHr">
      <span (click)="sortDiscussionBy('date')" [ngClass]="{'active-discussion-by':selectDiscussion.sortBy=='date'}" >按时间</span>
    </div>
    <!--一个评论开始-->
    <div class="discussion" *ngFor="let parentDiscussion of  parentDiscussions;let i=index;">
      <img class="discussion-profile" [src]="api.IMAGE_PREFIX+parentDiscussion.profileImg"/>
      <div class="discussion-content">
        <!--父级评论-->
        <div class="parent-discussion">
          <span class="parent-discussion-nickname">{{parentDiscussion.nickname}}</span> <span class="lou">#{{10*artArgs.selectDiscussionCondition.pageIndex+1+i}}楼</span>
          <div class="discussion-text" [innerHTML]="parentDiscussion.content"></div>
          <div class="discussion-info">
            <span class="discussion-time">{{parentDiscussion.sortDate}} {{parentDiscussion.shortDate}}</span>
            <div class="discussion-operation" >
              <button class="each-operation-btn" (click)="deleteDiscussion(parentDiscussion.discussionId,i)"  md-icon-button *ngIf="parentDiscussion.userId==homeService.homeInfo.userId" >
                <i  class="material-icons">delete</i>
                <span>删除</span>
              </button>
              <button class="each-operation-btn" md-icon-button (click)="toggleParentReply(parentDiscussion)">
                <i  class="material-icons">reply</i>
                <span>回复</span>
              </button>
              <button class="each-operation-btn" (click)="updateThumbsUpUserIds(parentDiscussion)" md-icon-button mdTooltip="{{parentDiscussion.thumbsUpAble?'点个赞':'已赞'}}">
                <i [ngClass]="{'disableThumbsUp':!parentDiscussion.thumbsUpAble}"  class="material-icons">thumb_up</i>
                <span>{{parentDiscussion.thumbsUpCount>0?parentDiscussion.thumbsUpCount:"赞"}}</span>
              </button>
            </div>
            <div class="reply-discussion-wrapper" *ngIf="parentDiscussion.showReply">
              <app-reply-discussion (refreshDiscussionNotice)="refreshSubDiscussion($event)" [sendToUserId]="parentDiscussion.userId" [parentDiscussionIndex]="i" [artArgs]="artArgs" [sendToNickName]="parentDiscussion.nickname" [discussionId]="parentDiscussion.discussionId"></app-reply-discussion>
            </div>
          </div>
        </div>
        <!--子级评论-->
        <div class="all-sub-discussion" *ngIf="parentDiscussion.subDiscussionDtos">
          <div class="sub-discussion" *ngFor="let subDiscussion of parentDiscussion.subDiscussionDtos;let subI=index;">
            <span class="sub-discussion-nickname">{{subDiscussion.nickname}}:</span>
            <span class="discussion-to-nickname" *ngIf="subDiscussion.sendToNickname">@{{subDiscussion.sendToNickname}}</span>
            <span class="discussion-text" [innerHTML]="subDiscussion.content"></span>
            <div class="discussion-info">
              <span class="discussion-time">{{subDiscussion.sortDate}} {{subDiscussion.shortDate}}</span>
              <div class="discussion-operation">
                <button class="each-operation-btn" md-icon-button (click)="toggleSubReply(subDiscussion)">
                  <i  class="material-icons">reply</i>
                  <span>回复</span>
                </button>
              </div>
              <div class="reply-discussion-wrapper" *ngIf="subDiscussion.showReply">
                <app-reply-discussion (refreshDiscussionNotice)="refreshSubDiscussion($event)" [artArgs]="artArgs" [subDiscussionIndex]="subI" [parentDiscussionIndex]="i" [sendToUserId]="subDiscussion.userId" [sendToNickName]="subDiscussion.nickname" [discussionId]="parentDiscussion.discussionId"></app-reply-discussion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--一个评论结束-->
  </div>
<md-paginator class="discussion-paginator"  *ngIf="artArgs.showPaginator" [pageSizeOptions]="pageSizeOptions" (page)="changePage($event)"   [pageIndex]="artArgs.selectDiscussionCondition.pageIndex"
                [length]="artArgs.discussionCount"  [pageSize]="artArgs.selectDiscussionCondition.pageSize"></md-paginator>
</div>

<!--所有评论结束-->

