/*所有评论*/
.all-discussion{
  padding: 20px;
  padding-bottom: 10px;
}
/*我的头像*/
.my-profile-img{
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 10px;
}

/**
写评论的总体div
 */
.write-discussion{
  position: relative;
  margin: auto;
}
/*编辑器div*/
.discussion-editor{
  display: inline-block;
  width: 80%;
  font-size: 14px;
  float: left;
}
/*相片动态的编辑器*/
.photo-discussion-editor{
  width: 230px;
}
/*编辑器盒子样式*/
.editor-box{
  border-top: 2px solid rgb(255,129,64);
}
/*发表评论按钮*/
.send-discussion-btn{
  display: block!important;
  width: 50px;
  height: 40px;
  min-width: 50px;
  background: rgb(255,129,64);
  float: left;
  margin-left: 10px;
}
.mat-raised-button{
  padding: 0;
}
/*切换表情按钮*/
.toggle-face-btn{
  margin-left: 40px;
  margin-bottom: 10px;
  position: relative;
  top: -5px;
}

/*包裹表情和按钮的div*/
.all-face-wrapper{
  position: relative;
  height: 40px;
  clear: both;
  text-align: left;
}
/*包裹表情的div*/
.face-wrapper{
  background: white;
  position: absolute;
  border: solid 1px rgb(223,223,223);
  box-shadow: 0 3px 5px rgb(203,203,203);
  padding-left: 10px;
  top:38px;
  left: 45px;
  z-index: 12;
  width: 300px;
}

/*显示所有评论的div*/
.show-all-discussion{
  border-top: 1px rgb(223,223,223) solid;
}
.photo-show-all-discussion{
  margin-top: 30px;
}
/*显示评论的条件*/
.show-discussion-by{
  margin-top: 10px;
  vertical-align:middle;
}
/*每一个条件*/
.show-discussion-by span{
  font-size: 14px;
  cursor: pointer;
  padding-bottom:3px;
}

.show-discussion-by span:hover{
  color: rgb(255,129,64);
}
.sortByHr{
  width: 0;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 7px;
  margin-left: 5px;
  margin-right: 5px;
  border-color: rgb(232,232,232);
}
/*激活的条件*/
.active-discussion-by{
  color: black;
  font-weight: bold;
  border-bottom: solid 1px  rgb(255,129,64);;
}

/*m每一个评论*/
.discussion{
  margin-top: 10px;
  border-bottom: solid 1px rgb(233,233,233);
  padding-bottom: 10px;

}
/*父级评论*/
.parent-discussion{

}
/*评论人头像*/
.discussion-profile{
  width: 30px;
  height: 30px;
  float: left;
  margin-right: 10px;

}
/*评论体,评论右边部分*/
.discussion-content{
padding-left: 40px;
}
/*父级评论人姓名*/
.parent-discussion-nickname{
  font-size: 14px;
  color:rgb(255,129,64);
  font-weight: bold;
}
/*楼层*/
.lou{
  font-size: 12px;
  color: rgb(150,150,150);
  margin-left: 5px;
}
/*评论内容*/
.discussion-text{
  color: rgb(50,50,50);
  font-size: 12px;
}
.disableThumbsUp{
  color:rgb(255,129,64)!important;
}
/*评论相关，时间和操作*/
.discussion-info{
  font-size: 13px;
  margin-top: 5px;
}
/*评论时间*/
.discussion-time{
  color: rgb(100,100,100);
}
/*评论操作*/
.discussion-operation{
  float: right;
}

/*操作按钮*/
.each-operation-btn{
  height: 20px;
  width: 50px;
  line-height: 0;
  position: relative;
  bottom: 3px;
}
.each-operation-btn span{
  font-size: 12px;
  color: rgb(100,100,100);
  margin-left: 3px;
}
.each-operation-btn span:hover{
  color:rgb(255,129,64);
}
.each-operation-btn i{
  font-size: 18px;
  color: rgb(170,170,170);
}
/*回复Div包裹*/
.reply-discussion-wrapper{
  margin-top: 20px;
  background: white;
  padding: 10px;
  position: relative;
}

.reply-textarea:focus{
  border-color: orange;
  box-shadow: none;
}
/*所有的子级评论*/
.all-sub-discussion{
  padding: 10px;
  padding-top: 0;
  background: rgb(234,234,236);

}
/*每个子级评论*/
.sub-discussion{
  margin-top: 5px;
}
/*子级评论人*/
.sub-discussion-nickname{
  font-size: 14px;
  color:rgb(255,129,64);

}
/*评论目标昵称*/
.discussion-to-nickname{
  font-size: 14px;
  color:rgb(255,129,64);
}
/*评论分页*/
.discussion-paginator{
  margin-top: 20px;
}
