/*添加相册整体*/
.add-album-main{
  width: 400px;
  height: 300px;

}
/*关闭按钮*/
.dialog-close{
  font-size: 20px;
}
/*内容体*/
.add-album-content{
 padding-left: 30px;
  padding-right: 30px;
}
/*输入框*/
md-input-container{
  width: 100%;
}
/*下拉框*/
md-select{
  width: 100%;
  font-size: 13px!important;
}
.album-type-select{
  margin-top: 10px;

}

.album-limit-select{
  margin-top: 30px;
}
/*底部*/
.add-album-bottom{
  padding:30px 30px 0 30px;
}
.add-album-bottom button{
  width: 100%;
  background: rgb(34,170,210);
}
