/*主体内容*/
.show-photo-main{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/*照片部分*/
.show-photo-left{
  height: 100%;
  background: rgb(51,51,51);
  position: relative;
  margin-right: 320px;
}
.photo-content {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
/*相片*/
.big-photo{
  max-width: 100%;
  max-height: 100%;
  top: 45%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -45%)
}
/*相册操作div*/
.photo-operation{
  bottom: 0;
  width: 100%;
  position: absolute;
  color: white;
  font-size: 14px;
  background: rgba(0,0,0,0.5);
}
.photo-operation-content{
  margin: auto;
  width: 430px;
}
/*相册名称*/
.album-name{

}
/*相片计数*/
.photo-count-info{
  margin-left: 10px;
}
/*显示相片列表*/
.show-photo-list{
  margin-left: 30px;
  margin-right: 30px;
}
.show-photo-list:hover{
  color: white;
}
.show-photo-list i{
  font-size: 30px;
}
/*相片信息*/
.photo-info{
  cursor: pointer;
}
.photo-info i{
  font-size:17px;
}
.photo-info:hover{
  color: white;
}
/*更多*/
.photo-more{
  cursor: pointer;
  margin-left: 20px;
}
.photo-more:hover {
  color: white;
}
.photo-more i{
  font-size:20px;
  cursor: pointer;
}
/*照片列表*/
.photo-list{
  height: 120px;
  width: 100%;
  background: rgb(10,10,10);
  bottom: 0;
  position: absolute;
  padding-bottom: 10px;
}
/*照片列表标题*/
.photo-list-title{
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(100,100,100,0.5);
}
/*关闭相册列表*/
.close-photo-list{
  float: right;
  font-size: 20px;
  margin-top: 5px;
  cursor: pointer;
}
/*上一页*/
.prev-photo{
  position: absolute;
  left: 10px;
  top: 60px;
  cursor: pointer;
}
.prev-photo i, .next-photo i{
  font-size: 45px;
}
/*下一页*/
.next-photo{
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 60px;
}

/*相片列表内容*/
.photo-list-content{
  margin: auto;
  height:85px;
  margin-top: 6px;
  overflow: hidden;
}
/*包裹相片列表的div*/
.photo-list-wrapper{
  height: 80px;
  width: 99999px;
  position: relative;
}
/*预览相片*/
.pre-photo{
  width: 80px;
  height: 80px;
  margin-left: 5px;
  cursor: pointer;
  border: solid 2px rgba(0,0,0,0);
}
/*预览相片激活样式*/
.pre-photo-active{
  border: solid 2px orange;
}
/*光标*/
.prevCursor{
  cursor: url('../../../../../../assets/img/pic_prev.cur'),auto;
}
.nextCursor{
  cursor: url('../../../../../../assets/img/pic_next.cur'),auto;
}
.zoomOutCursor{
  cursor: zoom-out;
}
/*右边评论部分*/
.show-photo-right{
  background: white;
  height: 100%;
  position: absolute;
  width: 320px;
  top: 0;
  right: 0;
  overflow-y: auto;
}
/*相册用户相关信息*/
.album-user-info{
  padding: 10px 0 5px 10px ;
  position: relative;
  border-bottom: solid 1px rgb(223,223,223);
  box-shadow: 0 0 5px rgb(200,200,200);
  height:148px;
}
/*相册用户基本信息*/
.album-user-base-info{

}
/*相册用户头像*/
.album-user-profile{
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 5px;
}
/*相册用户名*/
.album-user-name{
  font-size: 14px;
  color: rgb(100,100,100);
  font-weight: bold;
}
/*相片日期*/
.photo-date{
  font-size: 12px;
  color: rgb(140,140,140);
  margin-left: 10px;
}
/*关闭按钮*/
.dialog-close{
  position: absolute;
  top:0;
  right: 0;
}
.dialog-close i{
  font-size: 20px;
}
/*相片名称*/
.photo-name{
  font-size: 12px;
  color: rgb(130,130,130);
  margin-top: 3px;
}
/*相片解释*/
.photo-description{
  font-size: 12px;
  color: rgb(100,100,100);
  margin-top: 20px;
  max-height: 60px;
  overflow: hidden;
  padding-right: 5px;
}
/*相片动态操作*/
.photo-art-operation{
  height: 30px;
  margin-top: 10px;
  text-align: center;
  line-height: 30px;
}
.photo-discussion{

  overflow-y: auto;

}

