<main class="show-photo-main">
  <!--左边开始-->
  <div class="show-photo-left" >

    <!--相片体-->
    <div class="photo-content" (mousemove)="changeImgCursor($event)" (click)="changeCurrentPhoto($event,close)"
         [ngClass]="{'prevCursor':cursorType==cursorArgs.PREV_CURSOR,'zoomOutCursor':cursorType==cursorArgs.ZOOM_OUT_CURSOR,
       'nextCursor':cursorType==cursorArgs.NEXT_CURSOR}">
      12121
      <img class="big-photo" [src]="api.IMAGE_PREFIX+photos[currentIndex].path+photos[currentIndex].waterMark+photos[currentIndex].effect" alt="">
    </div>

    <!--相片操作部分-->
    <div class="photo-operation">

      <!--具体操作内容-->
      <div class="photo-operation-content">
        <span class="album-name">《{{album.albumName}}》</span>
        <span class="photo-count-info">{{currentIndex+1}}/{{photos.length}}</span>
        <button (click)="togglePhotoList()" class="show-photo-list" md-icon-button> <i class="material-icons">apps</i></button>
        <span class="photo-info"><i class="material-icons">assignment_late</i>相片信息 </span>
        <span class="photo-more"><i class="material-icons">more_horiz</i>更多 </span>
      </div>

      <!--相片列表-->
      <div class="photo-list"  *ngIf="showPhotoList" [@flyXInOutFromTop]>
        <div class="photo-list-title">《{{album.albumName}}》 {{currentIndex+1}}/{{photos.length}} <i class="material-icons close-photo-list" (click)="togglePhotoList()">close</i></div>
        <span class="prev-photo" (click)="prevPage()"><i class="material-icons">keyboard_arrow_left</i></span>
        <div class="photo-list-content"  [ngStyle]="{'width.px':getPhotoContentWidth()}">
          <div class="photo-list-wrapper" [ngStyle]="{'left.px':photoWrapperLeft}" [@flyXInOutFromRight]>
              <img class="pre-photo"  *ngFor="let photo of photos;let i =index;" [src]="api.IMAGE_PREFIX+photo.path+albumApi.SMALL_ALBUM_COVER_STYLE"
                   [ngClass]="{'pre-photo-active':i==currentIndex}" (click)="showDetailPhoto(i)"
              >
          </div>
        </div>
        <span class="next-photo"  (click)="nextPage()"><i class="material-icons">keyboard_arrow_right</i></span>
      </div>

    </div>

  </div>
  <!--左边结束-->

  <!--右边开始-->

  <div class="show-photo-right">
    <!--相册用户信息和相册动态操作-->
   <div class="album-user-info">
     <div class="album-user-base-info">
       <img class="album-user-profile" [src]="api.IMAGE_PREFIX+photos[currentIndex].profile+albumApi.SMALL_ALBUM_COVER_STYLE" alt="">
       <span class="album-user-name">{{photos[currentIndex].nickname}}</span> <span class="photo-date">{{photos[currentIndex].uploadDate}}</span>
       <button md-icon-button class="dialog-close" (click)="close.click()"><i class="material-icons">close</i></button>
       <p class="photo-name">{{photos[currentIndex].name}}</p>
     </div>
     <div class="photo-description">
       {{photos[currentIndex].description}}
     </div>
     <div class="photo-art-operation">
       <app-art-operation [artArgs]="photos[currentIndex].artArgs"></app-art-operation>
     </div>
   </div>
    <div class="photo-discussion">
      <app-art-discussion  class="photo-all-discussion" [artArgs]="photos[currentIndex].artArgs"></app-art-discussion>
    </div>

    <!--评论-->
  </div>

  <!--右边结束-->
  <button md-dialog-close style="display: none" #close></button>
</main>
