<main class="chat-main white-box">
  <div class="chat-top">
    <img class="chat-profile" [src]="api.IMAGE_PREFIX+homeService.homeInfo.halfProfileImg" alt="">
    <p class="chat-half-name">{{homeService.homeInfo.halfNickname}} <span class="chat-online"><i
      class="material-icons chat-online-icon">radio_button_checked</i>[在线]</span></p>
    <p class="chat-mood">我们的一切如此安详，就像大自然的恩泽一般....</p>
  </div>
  <div class="chat-content">
       <div  *ngFor="let chat of chats" [ngClass]="{'leftMessage':!getPotion(chat),'rightMessage':getPotion(chat)}"  >
         <img  class='message-profile' [src]="api.IMAGE_PREFIX+chat.sendProfileImg">
         <div [ngClass]="{'leftTriangle':!getPotion(chat),'rightTriangle':getPotion(chat)}"></div>
         <div [ngClass]="{'leftMessageText':!getPotion(chat),'rightMessageText':getPotion(chat)}" [froalaView]="chat.content"></div>
         <span class="message-date">{{chat.date}}</span>
       </div>
  </div>
  <div class="write-message">
    <div class="chat-editor white-box" [froalaEditor]="rfOptions" [(froalaModel)]="chatMessage.content"></div>
  </div>
</main>
<div class="message-operation">
  <button md-raised-button>重置</button>
  <button md-raised-button class="primary-btn" color="primary" (click)="sendMessage()">发送</button>
</div>
