
/*修改编辑器默认样式*/

/*工具条*/
.fr-toolbar {
  border-top:none;
}

.fr-top {
  box-shadow: none;

}
/*!*默认不显示编辑器的快速插入*!
.fr-quick-insert{
  display: none;
}
!*显示编辑器的快速插入*!
.show-quick-insert .fr-quick-insert{
  display:block;
}*/
/*动态中的表情和文字垂直居中*/
.a-f{
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 3px;
}
/*聊天编辑器*/
.chat-editor .fr-toolbar.fr-top{box-shadow: 0 1px 3px rgba(0,0,0,.12)}
.chat-editor.fr-box.fr-basic.fr-top .fr-wrapper{box-shadow: 0 1px 1px 1px rgba(0,0,0,.16)}
