<!--动态操作开始-->
<div class="all-operation" [ngClass]="{'discussOpened':artArgs.isDiscussOpen}">
  <div class="operation">
    <span class="operation-time">7-28 18:09</span>
  </div>
  <div class="operation" mdTooltip="快收藏我">
    <i class="material-icons">favorite</i>

  </div>
  <div class="operation" (click)="toggleDiscussion()">
    <i class="material-icons" >sms</i>
    <span class="count">{{artArgs.discussionCount>0?artArgs.discussionCount:"评论"}}</span>
  </div>
  <div class="operation" mdTooltip="{{artArgs.thumbsUpAble?'点个赞':'已赞'}}" (click)="updateThumbsUpCount()">
    <i class="material-icons" [ngClass]="{'thumbsUpDisable':!artArgs.thumbsUpAble}">thumb_up</i>
    <span class="count">{{artArgs.thumbsUpCount>0?artArgs.thumbsUpCount:"赞"}}</span>
  </div>
</div>
<!--动态操作结束-->
