<main class="all-my-art">

  <div class="art-title-wrapper">
    <span class="title-text">动态列表</span>
    <div class="art-operation-wrapper">
      <md-slide-toggle
        class="art-toggle"
        color=warn
        [checked]="onlyShowHalf">
        显示非情侣动态
      </md-slide-toggle>
    </div>
  </div>
  <div [ngBusy]="{busy:[selectNoticeSubscribe],message:'动态加载中...请稍后'}"></div>
  <div class="art-content" *ngFor="let noticeArt of showNoticeDtos">
    <app-single-art [noticeArt]="noticeArt"></app-single-art>
  </div>
  <md-paginator (page)="changePage($event)"  [pageSizeOptions]="pageSizeOptions"
                [length]="pageNotice?.totalElements" [pageSize]="selectionCondition.pageSize"></md-paginator>
</main>
