<main class="photos-main">

  <!--相册顶部开始-->
  <div class="photos-top white-box">

    <!--左边-->
    <div class="photos-top-left">
      <div class="cover-wrapper">
        <img *ngIf="showAlbumPhoto" [src]="api.IMAGE_PREFIX+currentAlbum.coverImg+albumApi.SMALL_ALBUM_COVER_STYLE">
      </div>
      <div class="album-info">
          <p class="album-name">
            {{currentAlbum?.albumName}}
            <span class="separate"> / </span>
            <span class="photo-count">{{photos.length}}张</span>
            <span *ngIf="currentAlbum.limit==0" class="album-limit"><i class="material-icons album-privacy">lock</i>仅情侣可见</span>
            <span *ngIf="currentAlbum.limit==1" class="album-limit"><i class="material-icons album-privacy">people</i>公开</span>
          </p>
          <p class="album-operation">
            <button class="upload-img" md-raised-button color="primary" (click)="addPhoto()">
              <i class="material-icons">add_a_photo</i>
              上传照片
            </button>
            <button  md-raised-button >
              <i class="material-icons">burst_mode</i>
              相册管理
            </button>
          </p>
      </div>
    </div>

    <!--右边-->
    <div class="photo-top-right">
      <div class="album-art-info">

        <span class="art-info-label">访客</span>
        <p class="art-count">12 </p>
      </div>
      <div class="album-art-info">

        <span class="art-info-label">评论</span>
        <p class="art-count">2</p>
      </div>
      <div class="album-art-info">

        <span class="art-info-label">点赞</span>
        <p class="art-count">12 </p>
      </div>
    </div>
  </div>
  <!--相册顶部结束-->

  <!--相片内容开始-->
  <div class="photos-center white-box">

    <div class="photo-all-wrapper" *ngFor="let photo of photos;let i=index;">
      <div class="photo-wrapper">
        <img class="photo" [src]="api.IMAGE_PREFIX+photo.path+albumApi.SMALL_PHOTO_STYLE" (click)="showDetailPhoto(i)">
        <div class="photo-detail" *ngIf="photo.description">
          {{photo.description}}
        </div>
      </div>
      <div class="photo-name">
        {{photo.name}}
      </div>
      <div class="photo-art-operation">
        <i class="material-icons" >sms</i>
        <span>123</span>
        <i class="material-icons">thumb_up</i>
        <span>123</span>
        <i class="material-icons photo-more-operation" [mdMenuTriggerFor]="photoMenu">more_horiz</i>
        <md-menu #photoMenu="mdMenu" class="photo-menu">
          <button md-menu-item class="photo-menu-btn" (click)="editPhotoInfo(photo)"><i class="material-icons photo-menu-i">mode_edit</i>编辑</button>
          <button md-menu-item class="photo-menu-btn" ><i class="material-icons photo-menu-i">color_lens</i>特效</button>
          <button md-menu-item class="photo-menu-btn" (click)="updateAlbumCover(photo.path)"><i class="material-icons photo-menu-i">photo_library</i>设为封面</button>
          <button md-menu-item class="photo-menu-btn" (click)="movePhoto(photo.photoId,i)"><i class="material-icons photo-menu-i" >zoom_out_map</i>移动到相册</button>
          <button md-menu-item class="photo-menu-btn"><i class="material-icons photo-menu-i">delete</i>删除</button>
        </md-menu>
      </div>
    </div>

  </div>
  <!--相片内容end-->
</main>
