<main class="photos-main">
  <div class="photos-top">
    <div class="photos-top-left">
      <div class="cover-wrapper">
        <img [src]="img">
      </div>
      <div class="album-info">
          <p class="album-name">
            我的妖精棍儿
            <span class="separate"> / </span>
            <span class="photo-count">77张</span>
            <span class="album-limit"><i class="material-icons album-privacy">lock</i>仅情侣可见</span>
          </p>
          <p class="album-operation">
            <button class="upload-img" md-raised-button color="primary" >
              <i class="material-icons">add_a_photo</i>
              上传照片
            </button>
            <button  md-raised-button >
              <i class="material-icons">burst_mode</i>
              相册管理
            </button>
          </p>

      </div>
    </div>
  </div>
</main>
