/*相册*/
.album{
  display: inline-block;
  width: 16%;
  height: 30%;
  max-width: 150px;
  max-height: 190px;

  min-width: 10%;
  min-height: 130px;
  border: solid 1px rgb(223,223,223);
  box-shadow: 0 2px 3px rgb(213,213,213);
  background: white;
  border-radius: 5px;
  margin-left: 10px;
  padding: 8px;
  margin-top: 20px;
  padding-bottom: 0;
}
/*封面包裹*/
.cover-wrapper{
  position: relative;
}
/*封面图片*/
.cover-img{
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  cursor: pointer;
}

.album:hover{
  animation: album-hover 0.3s;
  animation-fill-mode:forwards;
}

/*相册动画*/
@keyframes album-hover{
  0%{
    transform: rotate(0deg)
  }
  100%{
    transform: scale(1.1,1.1) rotate(1deg);
    position: relative;
    box-shadow: 0 5px 10px rgb(213,213,213);
  }
}
.album-count{
  font-size: 25px;
  color: white;
  position: absolute;
  bottom: 4px;
  text-align: right;
  width: 93%;
  vertical-align: baseline;
  padding-top: 5px;
  padding-right: 10px;
  background: -webkit-linear-gradient(top,transparent,rgba(26,26,26,.4));
  font-family: "Adobe 黑体 Std R", serif;
}
/*相册操作*/
.album-operation{
  height: 30px;
  line-height: 30px;
}
/*相册名称*/
.album-name{
  font-size: 14px;
}
/*相册权限*/
.album-privacy{
  float: right;
  font-size: 22px;
  vertical-align: middle;
  color: rgb(122,149,153);
  margin-top: 3px;
  cursor: pointer;
}
