<div id="all">
<!--头部-->
<div id="allHeader">

  <!--头部左边-->
  <div id="leftHeader">

    <img src="../../../../assets/img/homeLogo.png"/>
   <!-- <span id="red-fruit-span">红果情侣</span>-->
    <button id="toggleNavBtn" md-mini-fab  (click)="openNav(sidenav)" (mousedown)="killnNavToggleBug()">
      <i class="material-icons" [ngClass]="{'arrow_back_open':isNavOpen,'arrow_back_close':!isNavOpen}">chevron_left</i>
    </button>
    <span id="contentTitle"></span>
  </div>

  <!--头部右边-->
  <div  id="rightHeader">
    <input class="simpleInput" placeholder="搜索你关心的事">
    <button md-icon-button  id="searchBtn"><i class="material-icons" style="font-size:18px;">search</i></button>
    <button md-icon-button>
      <i class="material-icons ">dashboard</i>
    </button>
    <button md-icon-button >
      <i class="material-icons icon-btn">notifications</i>
    </button>
    <button md-icon-button><i class="material-icons icon-btn">person</i></button>
  </div>


</div>
<!--头部结束-->
<md-sidenav-container id="navContainer">

  <!--导航面板开始-->
  <md-sidenav mode="side" opened="true" #sidenav   id="sideNavPanel">
    <div id="navContent">
      <div id="userProfile">
        <img id="profileImg" [src]="homeService.homeInfo.profileImg"/>
        <p id="nickName">{{homeService.homeInfo.nickname}}</p>
      </div>
      <!--导航ul-->
      <div id="allNav"><!--(click)="changeActiveLink(0)" [ngClass]="{'navActive':activeLinkFlag[0]}"-->
        <div class="nav" *ngFor="let route of routerLinks;let i=index;"(click)="changeActiveLink(i)"  [routerLink]="route.path" [ngClass]="{'navActive':route.isActive}">
          <button md-button><i class="material-icons ">{{route.ico}}</i>{{route.label}}<i class="material-icons arrow_drop">arrow_drop_down</i></button>
        </div>
      </div>
    </div>

  </md-sidenav>
  <!--导航面板开始-->

  <!--主体内容开始-->
  <div id="allContent">

    <router-outlet></router-outlet>

  </div>
  <!--主体内容结束-->

</md-sidenav-container>

<div id="message">123</div>
</div>
