/*整体*/
.water-mark-main{
  width: 750px;
  height: 500px;
}
/*标题*/
.water-mark-title{
  padding: 10px;
  border-bottom: 1px solid rgb(223,223,223);
  box-shadow: 0 0 5px rgb(213,213,213);
}
.water-mark-title i{
  margin-right: 5px;
}
/*关闭按钮*/
.close-water-mark{
  float: right;
}
/*正体*/
.water-mark-center{
  height: 400px;
  border-bottom:  solid 1px rgb(233,233,233);
}
/*预览相片*/
.water-mark-viewer{
  width: 500px;
  height: 400px;
  float: left;
  border-right:  solid 1px rgb(233,233,233);

}
/*包裹当前正在显示的相片div*/
.current-photo-wrapper{
  width: 480px;
  height: 380px;
  margin-top: 10px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
}
/*当前正在显示的照片*/
.current-photo{
  margin: auto;
  display: block;
}

/*批处理标签*/
.batch-label{
  margin-left: 80px;
  float: left;
  font-size: 13px;
  color: rgb(120,120,120);
  padding-top: 10px;
}

/*设置水印*/
.water-mark-setting{
  float: right;
  width: 240px;
  height: 400px;
  overflow-y: auto;
}
/*切换视图的按钮*/
.view-photo-toggle{
  margin-left: 20px;
}
/*选择样式的label*/
.select-style-label{
  margin-top: 10px;
  font-size: 15px;
  color: rgb(255, 161, 36);
  margin-bottom: 10px;
  border-bottom: 1px rgb(233,233,233) solid;
  padding-bottom: 10px;
}
/*相册样式div*/
.photo-style{
  margin-top: 10px;
}
/*样式标题*/
.photo-style-title{
  font-size: 14px;
  color: rgb(100,100,100);
  margin-bottom: 5px;
}
/*样式lable*/
.photo-style-label{
  font-size: 13px;
  color: rgb(100,100,100);
  margin-bottom: 5px;
}
/*水印底部*/
.water-mark-bottom{
  padding-top: 10px;
  padding-right: 30px;
  text-align: right;
}
/*操作相片预览*/
.view-photo-operation{
  padding-right: 10px;
  height: 50px;
  width: 450px;
  display: inline-block;
  float: left;
  padding-left: 50px;
}
/*上一张下一张div*/
.next-prev-wrapper{
  margin-left: 80px;
  float: left;
}
.next-prev-wrapper button{
  margin-left: 30px;
  margin-bottom: 10px;
}
.operation-btn-wrapper{
  float: right;
}
