/*圈子动态目录主体*/
.circle-catalog-main{
  position: relative;
}
/*左边部分*/
.circle-catalog-left{
  float: left;
  width: 60px;
  display: inline-block;
  margin: 0;
  height: 60px;

}
/*名片包裹*/
.business-card-wrapper{
  top: -200px;
  left: -25px;
  height: 200px;
  width: 330px;
  position:absolute;
  box-shadow: 0 5px 5px rgb(200,200,200);
}

/*头像*/
.catalog-profile{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 5px;
}
/*右边*/
.circle-catalog-right{
  display: inline-block;
  width: 710px;
}
/*动态标题*/
.circle-title{
  font-size: 15px;
  color: rgb(50,50,50);
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.circle-title:focus{
  outline: none;
}
/*动态文本内容*/
.circle-text-content{
  font-size: 13px;
  color: rgb(100,100,100);
  margin-top: 5px;
  overflow: hidden;
  padding-right: 5px;
  max-height: 53px;
  text-overflow: ellipsis;
}
/*动态图片内容*/
.circle-img-content{
  margin-top: 10px;
}
/*动态图片*/
.circle-art-img{
  margin-left: 7px;
  width: 90px;
  height: 90px;
}
.circle-art-img:first-child{
  margin-left: 0;
}
/*动态操作*/
.circle-catalog-operation{
  text-align: right;
  padding-right: 20px;
  margin-top: 5px;
}
/*每一个动态操作包裹的div*/
.circle-catalog-operation-wrapper{
  display: inline-block;
  width: 60px;
}
/*不能点赞*/
.dis-thumb-up{
  color: orange;
}
.circle-catalog-operation-wrapper:last-child{
  width: 100px;
}
.circle-catalog-operation-wrapper i{
  font-size: 18px;
}
.circle-catalog-operation-wrapper span{
  font-size: 12px;
  color: rgb(100,100,100);
}
