<main class="circle-catalog-main">
  <div class="circle-catalog-left" (mouseleave)="showBusinessCard=false" (mouseover)="showBusinessCard=true">
    <div [@flyXInOutFromTop] *ngIf="showBusinessCard" class="business-card-wrapper white-box">
      <app-business-card [userId]="post.userId"></app-business-card>
    </div>
    <img class="catalog-profile" [src]="api.IMAGE_PREFIX+artInfo.profile" >
  </div>
  <div class="circle-catalog-right">
    <p  class="circle-title" routerLink="/home/circle-center/post/{{post.postId}}">{{post.title}}</p>
    <div class="circle-text-content" [froalaView]="post.content"></div>
    <div class="circle-img-content" *ngIf="post.imgs">
      <img *ngFor="let img of post.imgs" class="circle-art-img" [src]="img">
    </div>
  </div>
  <div class="circle-catalog-operation">
    <div class="circle-catalog-operation-wrapper" md-tooltip="已有{{artInfo.thumbsUpCount}}人点赞">
      <i class="material-icons primary-icon" [ngClass]="{'dis-thumb-up':!artInfo.thumbsUpAble}" >thumb_up</i>
      <span>{{artInfo.thumbsUpCount}}</span>
    </div>
    <div class="circle-catalog-operation-wrapper">
      <i class="material-icons primary-icon">sms</i>
      <span>{{artInfo.discussionCount}}</span>
    </div>
    <div class="circle-catalog-operation-wrapper" md-tooltip="已有{{artInfo.thumbsUpCount}}人浏览">
      <i class="material-icons primary-icon">remove_red_eye</i>
      <span>0</span>
    </div>
    <div class="circle-catalog-operation-wrapper" style="width: 100px">
      <i class="material-icons primary-icon">date_range</i>
      <span>{{artInfo.howLongAgo}}前</span>
    </div>
    <div class="circle-catalog-operation-wrapper">
      <i class="material-icons primary-icon">bookmark</i>
      <span>{{post.circleName}}</span>
    </div>
  </div>
</main>
