main{

  width: 600px;
  position: relative;
  color: black;
  padding-bottom: 20px;
}
#close{
  background-color: white;
  float: right;
  position: absolute;
  cursor: pointer;
  left: 610px;

  border: none;
  outline: none;
  width: 20px;height: 20px;
  background-image: url("../../../../assets/img/close.png");
}

#registerTitle{
  text-align: center;
  display: inline-block;

  padding-bottom: 10px;
  border-bottom: 1px solid rgb(202,202,202);
}

#registerForm{
  width: 500px;
  margin: auto;
  margin-top: 20px;

}
md-error{
  margin-left: 42px;
  font-size: 15px;
}
#sexText{
  color: rgb(100,100,100);
  font-size: 14px;
  margin-right: 10px;
  margin-left: 5px;
}
#womanRadio{
  margin-left: 185px;
}

#registerForm input:not(#born){
  width: 200px;
}
md-input-container{
  font-size: 16px;
  margin-top: 15px;
}
md-input-container:not(#accountContainer){
  margin-left: 30px;
}
#accountContainer{
  font-size: 16px;
  margin-left: 5px;
}
.password{
  margin-left: 70px!important;
}
#bornContainer{
  margin-left: 5px!important;
}
#born{
  width: 100px;
}
#city{
  width: 200px!important;
  margin-left: 70px;
}
#verificationCode{
  width: 190px !important;
}
#verificationCodeImg{
  border: solid 1px rgb(213,213,213);
  box-shadow: 0 0 2px rgb(190,190,190);
  top: 10px;
  margin-left:  70px;
  position: relative;
  cursor: pointer;
}
#verificationCodeContainer{
  margin-left: 5px!important;
}
#registerBtn{
  margin-top: 20px;
  width: 100%;
}

