<main class="email-list-main">

  <!--邮件顶部开始-->
  <div class="email-top white-box">
    <div class="email-list-label">
      邮件列表 <span class="unread-label">(2条未读)</span>
    </div>
    <div class="email-list-top-right">
      <md-slide-toggle class="show-no-half-email">显示非情侣邮件</md-slide-toggle>
      <button class="fresh-email-btn" md-icon-button> <i class="material-icons">cached</i>刷新</button>
    </div>
  </div>
  <!--邮件顶部结束-->

  <!--邮件列表开始-->
  <div class="email-list-content white-box">

    <div class="email-wrapper">
      <div class="select-email-wrapper"><md-checkbox color="primary"></md-checkbox></div>
      <div class="email-state-wrapper"><img src="../../../../assets/img/weidu.png" height="13" width="16"/></div>
      <div class="profile-wrapper">
        <img class="profile" [src]="img">
      </div>
      <div class="email-user-info">
        <p class="user-info"><span class="nickname">大脸猫</span> <span class="base-info">重庆</span> <span class="base-info">女</span></p>
        <p class="email-info"><span class="date">2分钟前</span> <span>你发出的邮件</span> <span>共有3条内容</span></p>
      </div>
      <button  md-raised-button class="primary-btn view-email-btn" color="primary">查看</button>
    </div>
    <div class="email-wrapper">
      <div class="select-email-wrapper"><md-checkbox color="primary"></md-checkbox></div>
      <div class="email-state-wrapper"><img src="../../../../assets/img/weidu.png" height="13" width="16"/></div>
      <div class="profile-wrapper">
        <img class="profile" [src]="img">
      </div>
      <div class="email-user-info">
        <p class="user-info"><span class="nickname">大脸猫</span> <span class="base-info">重庆</span> <span class="base-info">女</span></p>
        <p class="email-info"><span class="date">2分钟前</span> <span>你发出的邮件</span> <span>共有3条内容</span></p>
      </div>
      <button  md-raised-button class="primary-btn view-email-btn" color="primary">查看</button>
    </div>
    <div class="email-wrapper">
      <div class="select-email-wrapper"><md-checkbox color="primary"></md-checkbox></div>
      <div class="email-state-wrapper"><img src="../../../../assets/img/weidu.png" height="13" width="16"/></div>
      <div class="profile-wrapper">
        <img class="profile" [src]="img">
      </div>
      <div class="email-user-info">
        <p class="user-info"><span class="nickname">大脸猫</span> <span class="base-info">重庆</span> <span class="base-info">女</span></p>
        <p class="email-info"><span class="date">2分钟前</span> <span>你发出的邮件</span> <span>共有3条内容</span></p>
      </div>
      <button  md-raised-button class="primary-btn view-email-btn" color="primary">查看</button>
    </div>
    <div class="email-wrapper">
      <div class="select-email-wrapper"><md-checkbox color="primary"></md-checkbox></div>
      <div class="email-state-wrapper"><img src="../../../../assets/img/weidu.png" height="13" width="16"/></div>
      <div class="profile-wrapper">
        <img class="profile" [src]="img">
      </div>
      <div class="email-user-info">
        <p class="user-info"><span class="nickname">大脸猫</span> <span class="base-info">重庆</span> <span class="base-info">女</span></p>
        <p class="email-info"><span class="date">2分钟前</span> <span>你发出的邮件</span> <span>共有3条内容</span></p>
      </div>
      <button  md-raised-button class="primary-btn view-email-btn" color="primary">查看</button>
    </div>
    <div class="email-operation">
      <button  md-raised-button>全选</button>
      <button color="accent" md-raised-button>删除</button>
    </div>
  </div>
  <!--邮件列表结束-->
</main>
