<main class="email-list-main">

  <!--邮件顶部开始-->
  <div class="email-top white-box">
    <div class="email-list-label">
      邮件列表 <span class="unread-label">({{emailCatalogPage.unReadCount}}条未读)</span>
    </div>
    <div class="email-list-top-right">
      <md-slide-toggle color="warn" class="show-no-half-email" (change)="changeShowManager($event)" [checked]="showManager">{{showManager?'关闭邮件管理':'打开邮件管理'}}</md-slide-toggle>
    </div>
  </div>
  <!--邮件顶部结束-->

  <!--邮件列表开始-->
  <div class="email-list-content white-box">
    <div [ngBusy]="{busy:ngBusy,message:'列表加载中...'}"></div>
    <div class="email-wrapper" *ngFor="let catalog of emailCatalogs">
      <div *ngIf="showManager" class="select-email-wrapper"><md-checkbox color="primary"(change)="emailSelectedToggle($event,catalog)" [checked]="catalog.selected"></md-checkbox></div>
      <div class="email-state-wrapper">
        <img *ngIf="catalog.state" src="../../../../assets/img/yidu.png" />
        <img *ngIf="!catalog.state" src="../../../../assets/img/weidu.png" />
      </div>
      <div class="profile-wrapper">
        <img class="profile" [src]="api.IMAGE_PREFIX+catalog.profileImg">
      </div>
      <div class="email-user-info" routerLink="single-email/{{catalog.emailId}}">
        <p class="user-info"><span class="nickname">{{catalog.nickname}}</span> <span class="base-info">{{catalog.city}}</span> <span class="base-info">{{catalog.sex}}</span></p>
        <p class="email-info"><span class="date">{{catalog.howLongAgo}}前</span> <span>{{catalog.whoSend}}</span> <span>共有{{catalog.emailContentSize}}条内容</span></p>
      </div>
      <button *ngIf="!catalog.state"  md-raised-button class="primary-btn view-email-btn" color="primary" routerLink="single-email/{{catalog.emailId}}">查看</button>
      <button *ngIf="catalog.state"  md-raised-button class="view-email-btn"  routerLink="single-email/{{catalog.emailId}}">已读</button>
    </div>

    <div class="email-operation" *ngIf="showManager">
      <md-button-toggle class="sm-btn" (change)="allSelectToggle($event)">全选</md-button-toggle>
      <button color="warn" md-raised-button (click)="deleteEmail()">删除</button>
    </div>
    <md-paginator (page)="changePage($event)" class="email-paginator"  [pageSizeOptions]="pageSizeOptions"
                   [length]="emailCatalogPage.totalElements" [pageSize]="select.pageSize"></md-paginator>
  </div>
  <!--邮件列表结束-->


</main>
