
/*心情的标题：头像等*/
.mood-title{
  height: 35px;
  padding: 8px;
  line-height: 20px;
}
/*头像*/
.mood-profile{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  float: left;
  margin-right: 10px;
}
.mood-nickname{
  font-size: 14px;
  font-weight: bold;
}
/*多久之前发送的*/
.mood-howlong{
  font-size: 13px;
  color: gray;
}
/*心情内容*/
.mood-content{
  padding-left: 57px;
  margin-right: 30px;

}
