<div class="mood-all">
    <div class="mood-title">
      <img class="mood-profile" [src]="showMoodDto.profileImg">
      <p class="mood-nickname">{{showMoodDto.nickname}}</p>
      <p class="mood-howlong"><span class="mood-short-date">{{showMoodDto.shortDate}}</span>{{showMoodDto.howLongAgo}}前</p>
    </div>
    <div class="mood-content">
      <!--心情文本内容-->
      <div class="mood-text-content" [innerHTML]="showMoodDto.mood.content|safeHtml" style="font-size: 14px"></div>

      <!--心情图片内容-->
      <div class="mood-img-content" >
        <div class="mood-img-detail-content" *ngIf="showImgDetail">
          <img #detailImg (mousemove)="changeImgCursor($event,detailImg)"
               class="detail-img"  [@flyInFromTop]
               [src]="currentShowImgPath"
              [ngClass]="{'prevCursor':currentImgCursorType==moodOption.PREV_CURSOR,'zoomOutCursor':currentImgCursorType==moodOption.ZOOM_OUT_CURSOR,'nextCursor':currentImgCursorType==moodOption.NEXT_CURSOR}"
          (click)="changeDetailImg($event)"
          >
          <div class="small-detail-img-wrapper">
            <img *ngFor="let obj of smallDetailImgs;let i=index;" (click)="changeSmallDetailImg(i)" [ngClass]="{'small-detail-img-active':obj.active}"
                 class="small-detail-img" [src]="obj.path">
          </div>

        </div>
        <div *ngIf="!showImgDetail" class="mood-small-img-content">
          <img  class="small-img"  *ngFor="let path of smallMoodImgs;let i1=index;" (click)="showDetailImg(i1)" [src]="path" >
        </div>

      </div>
    </div>
</div>

