<div class="mood">
  <div class="mood-all">
    <div class="mood-title">
      <img class="mood-profile" src="assets/img/defaultMeImg.png">
      <p class="mood-nickname">大笨猪</p>
      <p class="mood-howlong">5分钟前</p>
    </div>
    <div class="mood-content">
      我们去玩吧
    </div>
    <div class="mood-bottom">
      <div class="mood-opreation">
        <span class="mood-time">7-28 18:09</span>
      </div>
      <div class="mood-opreation">
        <i class="material-icons">favorite</i>

      </div>
      <div class="mood-opreation">
        <i class="material-icons">sms</i>
      </div>
      <div class="mood-opreation">
        <i class="material-icons">thumb_up</i>
      </div>
    </div>
    <div class="dis" style="height: 100px">

    </div>
  </div>
</div>

