/*Angular Froala WYSIWYG Editor*/
@import "~froala-editor/css/froala_editor.pkgd.min.css";
@import "~froala-editor/css/froala_style.min.css";
@import "~font-awesome/css/font-awesome.css";
/*material2*/
/*@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/prebuilt-themes/purple-green.css";*/
/*@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*!*ng-primeng*!
@import "~font-awesome/css/font-awesome.min.css";
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";*/

/*ng2toastr*/
@import "~ng2-toastr/bundles/ng2-toastr.min.css";

/*修改material2默认样式*/


.mat-tab-link{/*tabs的标签页*/
 width: 120px;
  min-width: 100px!important;
}

.mat-ink-bar{ /*tabs下划线*/
  background: red;
}
/*输入框前缀*/
.input-prefix{
  color: rgb(100,100,100);
  margin-right: 10px;
  font-size: 14px;
}


*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
