
/*中部开始*/
#allCenter {
  /*background: #ff878e;*/
  /* background: #dad8d5;*/
  background: rgb(239,239,239);
  height: 450px;
  padding-top: 1px;
}
#loginBGs{/*包裹中部两个图片的div*/
  position: relative;
  width: 471px;

}
#loginBGImg{
  float: left;
  width: 471px;

}
#loginBGC{
  display:block;
  position: absolute;
  top: 140px;
  left: 180px;
  animation: shake 3s;
  animation-timing-function:ease;
  animation-iteration-count:infinite;
}
@keyframes shake
{
  0%{
    transform:scale(1.0,1.0)
  }
  50%{
    transform:scale(1.4,1.4)
  }
  100% {transform:scale(1.0,1.0)}
}

#center{
  width: 900px;
  margin: auto;
  margin-top: 40px;
  position: relative;
}
#login{
  float: right;
  width: 300px;
  height: 370px;
  background: white;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 0 3px gray;
}
.loginTitleLine{
  width: 300px;
  height: 3px;
  background: red;
  display: inline-block;
  position: absolute;

}
#loginTitle{
  text-align: center;
  border-bottom: 1px solid rgb(220,220,220);
  box-shadow: 0 0 5px rgb(212,212,212);
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 15px;
}
#profile{
  width: 64px;
  border-radius: 64px;
  margin: auto;
  display: block;
  margin-top: 20px;
}
#loginInfo{
  margin: auto;
  width: 250px;
  margin-top: 5px;
}

md-input-container{
  margin-top: 0!important;
  height: 60px;
  font-size: 15px;
  width: 100%!important;
}


md-checkbox{
  color: rgb(120,120,120);
  font-size: 12px;
}

#rememberText{
  font-size: 12px;
  color: rgb(120,120,120);
}
#lostPassword{
  float: right;
  color: rgb(120,120,120);
  font-size: 12px;
  cursor: pointer;
  margin-top: 5px;
}
#loginBtn{
  margin-top: 15px;
  width: 100%;
  background: rgb(253,86,106);
}
#justRegister{
  display: block;
  margin: auto;
  margin-top: 10px;
  color: rgb(120,120,120);
  cursor: pointer;
}

#justRegisterImg{
  position: absolute;
  float: right;
  left: 920px;
  top: -45px;
  cursor: pointer;
  animation: action 10s  infinite;
  transform-origin:50px 0;
}
/*注册图片旋转动画*/
@keyframes action {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100%{
    transform: rotate(-20deg);
  }
}

/*中部结束*/
